 * {
     box-sizing: border-box;
 }

 body {
     margin: 0;
     padding: 0;
     background-color: #e9f7fa;
 }

 h1,h2 {
     font-family: "Pacifico", cursive;
     
 }


.custom-height{
    height: 25vh;
    object-fit: scale-down;
}